{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "loose": false,
    "minify": true,
    "optimize": true
  },
  "module": {
    "type": "es6",
    "lazy": true
  },
  "minify": true,
  "sourceMaps": true,
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": ["node_modules"]
}
